

#class{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #4a4141 ,#000000 50%);
    align-items: center;
    text-align: center;
}
#class h4{
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Hepta+Slab'; 
    padding-bottom: 5vh;
    padding-top: 9vh;
    color: rgb(255, 0, 0);
    text-shadow: 2px 1px 3px rgb(250, 255, 152),
    2px 2px 3px  rgb(255, 255, 255);
}
#class h2{
    font-size: 65px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Hepta+Slab'; 
    padding-bottom: 5vh;
    padding-top: 0vh;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px rgb(250, 255, 152),
    2px 2px 3px  rgb(147, 255, 125);
}
#class .row{
    width: 100%;
    min-height: 100px;
    text-align: center;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
}
#class .row ul{
    width: 80%;
    min-height: 0px;
    background-color: #4a4141;
    border-radius: 50px;
}
#class .row ul li {
    display: inline;
}
#class .row ul li a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: 200;
    word-spacing: 4px;
    font-family: 'Hepta+Slab'; 
    color: rgb(0, 242, 255);
    text-shadow: 1px 1px 1px rgb(250, 255, 152),
    1px 2px 1px  rgb(0, 0, 0);
}
#class .row ul li a:hover {
   background-color: darkorange;
   border-radius: 50px;
}
#class .row ul li a:active {
    background-color: darkorange;
    border-radius: 50px;
 }
#work{
    width: 100%;
    min-height: 800px;
    margin-top: 40px;
}
#work .row{
    width: 95%;
    min-height: 350px;
    margin-left: 2.5%;
}
#work .row .col{
    width: 20%;
    min-height: 300px;
    margin-left: 1.25%;
    margin-right: 1.25%;
    background-color: rgb(99, 97, 105);
    border-radius: 25px;
    box-sizing: border-box;
    filter: drop-shadow(-10px 10px 6px rgb(255, 194, 156));
}

#work .row .col h2{
    font-size: 40px;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    padding-bottom: 1vh;
    padding-top: 1vh;
    color: rgb(227, 19, 182);
    text-shadow: 2px 1px 3px rgb(113, 114, 104),
    2px 2px 3px  rgb(0, 0, 0);
}
#work .row .col h3{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    color: rgb(21, 0, 255);
    text-shadow: 2px 1px 3px rgb(108, 255, 253),
    2px 2px 3px  rgb(0, 0, 0);
}
#work .row .col h4{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Hepta+Slab'; 
    padding-bottom: 1vh;
    padding-top: 7vh;
    color: orange;
    text-shadow: 1px 1px 2px rgb(243, 255, 18),
    1px 2px 2px  rgb(0, 0, 0);
}